@import "_globals.scss";



body {
	background: url("../img/bg.jpg");
	color: #fff;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

blockquote {
	color: #e44d26;
	font-size: 2em;
	font-style: italic;
	letter-spacing: 1px;
	text-align: center; 
}

nav { 

	li {
	float: left;
	list-style: none;
	margin: 0 10px 0 10px;
	}
a {
	&:link,&:visited {
		color: #fff;
		padding: 10px 10px 10px 40px;
		text-decoration: none;
		text-transform: uppercase;
}
	&:hover, &:active {
	color: #E44D26;
}
}
}


#home a:hover {
	background: url("../img/icons/home.png") no-repeat left center;
}

#super a:hover {
	background: url("../img/icons/super.png") no-repeat left center;
}


#html5 a:hover {
	background: url("../img/icons/html5.png") no-repeat left center;
}


h3 {
	font-family: 'Open Sans', sans-serif;
}

article img {
	border: 10px solid #fff;
}

img + p {
	line-height: 24px;
	text-indent: 32px;
}

footer p {
	font: 10px/16px 'arial', sans-serif;
}

